</main>
<footer class="footer">
  <span>Find me at</span>
  <span>&middot;</span>
  <span> <a href="https://www.linkedin.com/in/juaireg/" rel="noopener" target="_blank">Linkedin</a>️</span>
  <span>&middot;</span>
  <span> <a href="https://www.instagram.com/nazori__/" rel="noopener" target="_blank">Instagram</a></span>
  <span>&middot;</span>
  <span> <a href="  https://open.spotify.com/artist/66C5GaX1GUfZTTfQvzcYR6?si=sih02_12Qu6qj1TDNAzP-g" rel="noopener" target="_blank">Spotify</a></span>
</footer>
<script src="{{ "highlight.min.js" | absURL }}"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
</body>
</html>
